#footer {
    width:94%;
    height:60px;   /* Height of the footer */
    background:#f8f8f8;
    position: absolute;
    bottom: auto;
    padding: 30px;
    padding-left: 50px;
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }