<div style="position: static; height: 100%; overflow: hidden; display: block;">

    <div id="modalcontainer" class="modalContainer" style="display: block;">
        <div class="modal-content" style="height: auto;">
            <div class="header">
                <app-logo header=true></app-logo>
                <span>Agregar Tarjeta</span>
            </div>

            <div class="body">
                <div class="form-g">
                    <input  class="formulario" type="text" placeholder="Número de Tarjeta">
                </div>

                <div class="form-g">
                    <input class="campos" placeholder="Cuenta" type="text" name="" id="">
                    <input placeholder="Isuser" type='text' class="campos">
                </div>

                <div class="form-g">
                    <input  class="formulario" type="text" placeholder="Nombre de Tarjeta">
                </div>

                <div class="form-g">
                    <input  class="formulario" type="text" placeholder="Marca">
                </div>

                <div class="form-g">
                    <input  class="formulario" type="text" placeholder="Status">
                </div>

                <div class="form-g">
                    <input  class="formulario" type="text" placeholder="Saldo">
                </div>

                <div class="form-g">
                    <input  class="formulario" type="text" placeholder="Tipo de Cuenta">
                </div>
            </div>
            <div class="footer">
                    <button class="cancelar">Cancelar</button>
                    <button class="crear">Agregar Tarjeta</button>
            </div>
        </div>


    </div>



</div>