<div style="position: static; height: 100%; overflow: hidden; display: block;">

    <div id="modalcontainer" class="modalContainer" style="display: block;">
        <div class="modal-content" style="height: auto;">
            <div class="header">
                <app-logo header=true></app-logo>
                <span>Agregar Tarjeta</span>
            </div>

            <div class="body" [formGroup]="tarjetaForm">
                <div class="form-g">
                    <input [class]="tarjetaForm.get('numeroTarjeta').invalid ? 'invalidform': 'validform'" required formControlName="numeroTarjeta" class="formulario" type="number" placeholder="Número de Tarjeta">
                </div>

                <div class="form-g">
                    <input [class]="tarjetaForm.get('cuenta').invalid ? 'invalidform': 'validform'" formControlName="cuenta" class="campos" placeholder="Cuenta" type="text" name="" id="">
                    <input [class]="tarjetaForm.get('isuser').invalid ? 'invalidform': 'validform'" formControlName="isuser" placeholder="Isuser" type='text' class="campos">
                </div>

                <div class="form-g">
                    <input [class]="tarjetaForm.get('nombreTarjeta').invalid ? 'invalidform': 'validform'" formControlName="nombreTarjeta" class="formulario" type="text" placeholder="Nombre de Tarjeta">
                </div>

                <div class="form-g">
                    <input [class]="tarjetaForm.get('marca').invalid ? 'invalidform': 'validform'" formControlName="marca" class="formulario" type="text" placeholder="Marca">
                </div>

                <div class="form-g">
                    <input [class]="tarjetaForm.get('status').invalid ? 'invalidform': 'validform'" formControlName="status" class="formulario" type="text" placeholder="Status">
                </div>

                <div class="form-g">
                    <input [class]="tarjetaForm.get('saldo').invalid ? 'invalidform': 'validform'" formControlName="saldo" class="formulario" type="number" placeholder="Saldo">
                </div>

                <div class="form-g">
                    <input [class]="tarjetaForm.get('tipoCuenta').invalid ? 'invalidform': 'validform'" formControlName = "tipoCuenta" class="formulario" type="text" placeholder="Tipo de Cuenta">
                </div>
            </div>
            <div class="footer">
                    <button (click)="close()" class="cancelar">Cancelar</button>
                    <button [disabled]="tarjetaForm.invalid" (click)="guardar()" class="crear">Agregar Tarjeta</button>
            </div>
        </div>


    </div>



</div>

<app-alert [datos]="datos" [hidden]="!showalert" (cerrar)='cerrarAlert($event)'></app-alert>