
<table id="table">
    <tr>
      <th style="width: 150px;">Fecha</th>
      <th style="width: 500px;">Descripción</th>
      <th style="text-align: center;">Monto</th>
    </tr>
   
    <tr *ngFor="let item of [1,2,4,5,7,8,9]">
        <td style="width: 150px;">2020-10-02</td>
        <td style="width: 500px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
        <td style="text-align: center; font-weight: bold;">$200</td>
    </tr>
  </table>