
<table id="table">
    <tr>
      <th style="width: 150px;">Fecha</th>
      <th style="width: 500px;">Descripción</th>
      <th style="text-align: center;">Monto</th>
    </tr>
   
    <tr *ngFor="let movimiento of movimientos">
        <td style="width: 150px;">{{movimiento.fecha}}</td>
        <td style="width: 500px;">{{movimiento.descripcion}}</td>
        <td [style]="movimiento.tipo=='abono' ? 'color: green': 'color:red'" style="text-align: center; font-weight: bold;">{{movimiento.monto| currency}}</td>
    </tr>
  </table>