<app-navbar [nombre]="cuenta?.nombre" [sesion]="cuenta?.ultimaSesion"></app-navbar>

<div class="subheader">
    <app-infocard color=true [saldo]="saldos?.saldoGeneral |currency" titulo="saldo general de cuentas"></app-infocard>
    <app-infocard [saldo]="saldos?.ingresos | currency" titulo="total de ingresos"></app-infocard>
    <app-infocard [saldo]="saldos?.saldoGeneral |currency" titulo="Total de gastos"></app-infocard>
</div>

<div class="main-container">
    <div class="detail-acount">
        <span class="titulo">Mis Cuentas</span>
        <app-card *ngFor="let card of tarjetas" [tarjeta]="card"></app-card>
        <div class="add-card" (click)="abrirFormulario()">
            <span>
                Agrgar tarjeta
            </span>
            <img src="assets/add.svg" width="30" height="30">
        </div>
    </div>


    <div class="movements">
        <span class="titulo">Movimientos</span>
        <app-tabla [movimientos]="movimientos"></app-tabla>
    </div>

</div>

<app-modal [hidden]="!show" (cerrar)="cerrarFormulario($event)"></app-modal>
