<div class="subheader">
    <app-infocard color=true saldo="$2000.00" titulo="saldo general de cuentas"></app-infocard>
    <app-infocard saldo="$2000.00" titulo="total de ingresos"></app-infocard>
    <app-infocard saldo="$2000.00" titulo="Total de gastos"></app-infocard>
</div>

<div class="main-container">
    <div class="detail-acount">
        <span class="titulo">Mis Cuentas</span>
        <app-card status='true' nombre="Berenice Garcia Lopez"></app-card>
        <app-card nombre="Lilly Silva Martinez"></app-card>
        <div class="add-card">
            <span>
                Agrgar tarjeta
            </span>
            <img src="assets/add.svg" width="30" height="30">
        </div>
    </div>


    <div class="movements">
        <span class="titulo">Movimientos</span>
        <app-tabla></app-tabla>
    </div>

</div>

<app-modal></app-modal>